---
import Layout from "../layouts/Generic.astro";
---

<!doctype html>
<Layout
  title="Red Sismica de Michoacan"
  description="Michoacan Seismic Array"
  heroImage=""
>
  <!-- Subtitle -->
  <center> <h4>Proyecto DGAPA-PAPIIT TA101623.</h4></center>

  <!-- Pass the Google Maps iframe as a slot -->
  <iframe
    src="https://www.google.com/maps/d/u/0/embed?mid=1DE8072GfsxXRM2vWn898grm6b6hE24E&ehbc=2E312F"
    width="100%"
    height="480"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"></iframe>

  <p>
    El proyecto Red Sismica de Michoacán tiene como objetivo complementar los
    estudios realizados previamente en los estados de Guerrero, mediante el
    proyecto MASE; y en Oaxaca y Veracruz mediante el proyecto VEOX.
  </p>

  <h5>Antecedentes</h5>
  Uno de los mayores enigmas de la geología de México es la inusual localización
  del eje volcánico. Típicamente, en la mayor parte de las zonas de subducción del
  mundo, el ejé volcánico aparece de forma paralela a la trinchera de subducción.
  Sin embargo, en México el eje volcánico aparece en una región muy distante a la
  esperada y con un ángulo oblicuo.
</Layout>
