---
import Layout from "../layouts/Generic.astro";
---

<!doctype html>
<Layout
  title="Red Sismica de Michoacan"
  description="Michoacan Seismic Array"
  heroImage=""
>
  <!-- Subtitle -->
  <center> <h4>Proyecto DGAPA-PAPIIT TA101623.</h4></center>

  <!-- Pass the Google Maps iframe as a slot -->
  <iframe
    src="https://www.google.com/maps/d/u/0/embed?mid=1DE8072GfsxXRM2vWn898grm6b6hE24E&ehbc=2E312F"
    width="100%"
    height="480"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"></iframe>

  <p>
    El proyecto Red Sismica de Michoacán tiene como objetivo complementar los
    estudios realizados previamente en los estados de Guerrero, mediante el
    proyecto MASE; y en Oaxaca y Veracruz mediante el proyecto VEOX.
  </p>

  <h5>Antecedentes</h5>
  El estado de Michoacán en México es muy conocido por ser el lugar de origen de
  una de las estructuras monogenéticas más jóvenes del mundo. También es
  ampliamente reconocido como el epicentro del terremoto de Michoacán del 19 de
  septiembre, de magnitud 8.1; el evento sísmico más catastrófico y mortífero
  en México hasta la fecha. A pesar de ser uno de los mayores peligros en México,
  se han realizado menos estudios y experimentos en comparación con otros estados
  ubicados a lo largo de la trinchera. En el pasado, se desplegaron redes
  instrumentales extensas en estados vecinos como Oaxaca y Guerrero. Quizás la
  zona más estudiada en México es el estado de Guerrero, donde entre 2005 y 2007
  se instaló un arreglo sísmico de 100 estaciones en una línea perpendicular a la
  costa (Husker et al., 2008). Durante este experimento, varios estudios
  propusieron mecanismos plausibles para explicar la geometría plana de la
  subducción de la placa. Pérez-Campos et al. (2008) determinaron la geometría
  de la placa subducida utilizando funciones de receptor, mapeando continuamente
  la profundidad del Moho desde la costa hasta la Faja Volcánica Mexicana a lo
  largo de un transecto de ~500 km. Iglesias et al. (2010) identificaron una zona
  de baja velocidad bajo la región.
  <h5>Instrumentación y datos</h5>
  En una primera etapa, se desplegaron diez estaciones sísmicas en un arreglo
  aproximadamente paralelo a los arreglos MASE y VEOX, perpendicular al rumbo
  de la zona de subducción (ver Figura 1). Este diseño se decidió principalmente
  para que la MSN pudiera proporcionar un conjunto complementario de
  observaciones y así obtener imágenes de ambos flancos del segmento plano de la
  zona de subducción.
  <center><img src="/msn/images/figure_01.png" alt="Figure 1: Location of the Michoacan Seismic Array (MSN) stations."></center>

  Al inicio del proyecto, en junio de 2023, se instalaron tres sensores de
  movimiento fuerte y siete estaciones de banda ancha. El diseño del arreglo se eligió para cubrir un área no instrumentada
  previamente por otros experimentos en la región, como el arreglo MARS y la red
  del Servicio Sismológico Nacional (SSN). El perfil sísmico tiene una longitud
  total de aproximadamente 270 km, desde la ciudad costera de Playa Azul hasta
  San Cristóbal de Ayala, en la frontera con el estado de Guanajuato, con una
  distancia promedio entre estaciones de 30 km.

  La estación permanente IGIG se encuentra alineada con el arreglo, a unos 50 km
  al norte de la estación más septentrional. Esta estación se incluyó como parte
  del arreglo para extender su longitud máxima a 320 km, principalmente para el
  estudio tomográfico del área, ya que sus datos cubren completamente la duración
  del experimento.

  Las primeras tres estaciones (AZUL, TAHU, LAPA) consistieron en acelerómetros
  ópticos de bajo ruido Silicon Audio, con un digitalizador DataCube. El resto
  del arreglo incluyó cinco sensores de banda ancha Reftek 130 (BARA, TOME,
  HUIR, CONE), dos Guralp 40T (NARA, CRIS) y un sensor Compact 120s (PURU).
  Posteriormente, los sensores originales fueron reemplazados por sensores Guralp
  3T, utilizados previamente en los experimentos MASE y VEOX, como parte del
  plan de colaboración a largo plazo.

  En todos los casos, se registraron señales a 100 muestras por segundo, las
  cuales se decimaron según los requerimientos de cada análisis.
</Layout>
