---
import Layout from "../layouts/Generic.astro";
---

<!doctype html>
<Layout
  title="Publicaciones"
  description="Lorem ipsum dolor sit amet"
  heroImage=""
>
  <p>

    <strong>Dominguez, L.A.,</strong>
    Perton, K.,
    Baena, M.R.,
    Real, M.,
    Iglesias, A.,
    Cruz-Atienza, V.M.,
    Valenzuela, J.,
    Kostoglodov, V.,
    Villafuerte, C.,
    Plata-Martinez, R.,
    Santoyo, Huesca, E.M.A.,
    Legrand, D.,
    Macias, J.,
    Perez-Campos, X.,
    Mendoza-Rosas, A.T.
   (2025). <i>The Michoacan Seismic Network: A new seismic array in the Michoacan region, Mexico</i>. 
   En preparación para Geofísica Internacional.
  </p>
</Layout>
