---
import Layout from "../layouts/Generic.astro";
---

<!doctype html>
<Layout title="Pláticas" description="Lorem ipsum dolor sit amet" heroImage="">
  <p style="text-align: center;">
    <h4 style="text-align: center;">Plática Impartida en la RAUGM, 2024</h4>
    <h5 style="text-align: center;">30 de octubre del 2024</h5>
    <center>
      <iframe
        src="https://www.slideshare.net/slideshow/embed_code/key/ls4DHgx2KSkcMC?hostedIn=slideshare&page=upload"
        width="476"
        height="400"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"></iframe>
    </center>

    <h4 style="text-align: center;">
      Plática Impartida en el Instituto Tecnológico de Puruandiro, Michoacán.
    </h4>
    <h5 style="text-align: center;">4 de dicimbre de 2023</h5>
    <center>
      <iframe
        src="https://www.slideshare.net/slideshow/embed_code/key/HRSQAVU3libMyY?hostedIn=slideshare&page=upload"
        width="476"
        height="400"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"></iframe>
    </center>
  </p>
</Layout>
